# Aplicacion
NODE_ENV=development
APP_PORT=3000
APP_URL=http://localhost:3000

# MySQL / Filess.io
BD_HOST=
BD_PORT=
BD_NOMBRE=
BD_USER=
BD_PASS=

# Autenticacion
JWT_SECRET=

# Correo SMTP
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
